In [27]:
#import dependencies
import json
import pandas as pd
import numpy as np
from pandas import DataFrame
from datetime import date

In [28]:
#create file direcotry
file_dir = 'Rutgers_Final_Project'

In [29]:
#import the csv files
shelter_dogs_df = pd.read_csv('ShelterDogs.csv')

In [30]:
shelter_dogs_df.head()

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,NaN
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Transform posted date and compare to data pull date

shelter_dogs_df['posted']= pd.to_datetime(shelter_dogs_df['posted'])
shelter_dogs_df['shelter_time']=np.datetime64('2019-12-12')- shelter_dogs_df['posted']

In [34]:
# Add shelter_time column (days dog in shelter)
shelter_dogs_df.assign(shelter_time = shelter_dogs_df['shelter_time'].dt.days)

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,...,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in,dhelter_time,shelter_time
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 days,1
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,...,no,NaN,yes,yes,yes,yes,yes,NaN,3 days,3
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4 days,4
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4 days,4
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 days,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,118,Fodri,16.92,male,Unknown Mix,2003-12-25,2003-12-25,2006-03-22,yellow-brown,short,...,no,no,yes,yes,no,yes,no,garden,5013 days,5013
2933,262,Csibi,17.33,female,Staffordshire Terrier Mix,2004-08-27,2004-08-27,2005-07-08,striped,short,...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5270 days,5270
2934,4,Konrád,18.17,male,Unknown Mix,2005-09-21,2005-09-21,2005-10-26,black,short,...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5160 days,5160
2935,141,Kölni,17.17,male,Unknown Mix,2004-11-27,2004-11-27,2005-05-02,black and brown,medium,...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5337 days,5337
2936,248,Kedves,16.08,male,"German Shepherd Dog, Hound Mix",2005-04-02,2005-04-02,2005-06-30,sable,short,...,yes,NaN,yes,NaN,yes,yes,NaN,both flat and garden,5278 days,5278

In [35]:
# drop unnecessary columns
shelter_dogs_df.drop(columns= ['keep_in', 'ID', 'posted'])

,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,dhelter_time,shelter_time
0,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,1 days,1 days
1,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,3 days,3 days
2,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,4 days,4 days
3,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,4 days,4 days
4,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,1 days,1 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,Fodri,16.92,male,Unknown Mix,2003-12-25,2003-12-25,2006-03-22,yellow-brown,short,medium,no,no,yes,yes,no,yes,no,5013 days,5013 days
2933,Csibi,17.33,female,Staffordshire Terrier Mix,2004-08-27,2004-08-27,2005-07-08,striped,short,large,yes,NaN,NaN,NaN,NaN,NaN,NaN,5270 days,5270 days
2934,Konrád,18.17,male,Unknown Mix,2005-09-21,2005-09-21,2005-10-26,black,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,5160 days,5160 days
2935,Kölni,17.17,male,Unknown Mix,2004-11-27,2004-11-27,2005-05-02,black and brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,5337 days,5337 days
2936,Kedves,16.08,male,"German Shepherd Dog, Hound Mix",2005-04-02,2005-04-02,2005-06-30,sable,short,medium,yes,NaN,yes,NaN,yes,yes,NaN,5278 days,5278 days

In [8]:
shelter_dogs_df.isnull().sum()

ID                      0
name                   92
age                     0
sex                     0
breed                   0
date_found              0
adoptable_from          0
posted                  0
color                   0
coat                    0
size                    0
neutered             1085
housebroken          2477
likes_people          938
likes_children       1718
get_along_males      1304
get_along_females    1264
get_along_cats       2506
keep_in              1021
posted_delta            0
dtype: int64

In [9]:
shelter_dogs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2937 entries, 0 to 2936
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2937 non-null   int64
 1   name               2845 non-null   object
 2   age                2937 non-null   float64
 3   sex                2937 non-null   object
 4   breed              2937 non-null   object
 5   date_found         2937 non-null   object
 6   adoptable_from     2937 non-null   object
 7   posted             2937 non-null   datetime64[ns]
 8   color              2937 non-null   object
 9   coat               2937 non-null   object
 10  size               2937 non-null   object
 11  neutered           1852 non-null   object
 12  housebroken        460 non-null    object
 13  likes_people       1999 non-null   object
 14  likes_children     1219 non-null   object
 15  get_along_males    1633 non-null   object
 16  get_along_females  1673 non-null   object
 17  get_along_cats     431 non-null    object
 18  keep_in            1916 non-null   object
 19  posted_delta       2937 non-null   timedelta64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(16), timedelta64[ns](1)
memory usage: 459.0+ KB

In [10]:
shelter_dogs_df.describe(include=[object]).T

                  count unique                   top  freq
name               2845   2016                  Lili    18
sex                2937      2                  male  1681
breed              2937    277           Unknown Mix  1524
date_found         2937   1583            2010-05-03    36
adoptable_from     2937   1578            2010-05-03    36
color              2937     23                 black   620
coat               2937      4                 short  1972
size               2937      3                medium  1944
neutered           1852      2                   yes  1151
housebroken         460      2                   yes   405
likes_people       1999      2                   yes  1991
likes_children     1219      2                   yes  1172
get_along_males    1633      2                   yes  1470
get_along_females  1673      2                   yes  1595
get_along_cats      431      2                   yes   275
keep_in            1916      3  both flat and garden  1224

In [11]:
shelter_dogs_df.describe()

                 ID          age                  posted_delta
count   2937.000000  2937.000000                          2937
mean    1742.655431     8.569551  1977 days 18:35:25.434116448
std     4023.313413     4.140216  1167 days 11:15:15.025185664
min        1.000000     0.150000               0 days 00:00:00
25%      167.000000     5.830000            1110 days 00:00:00
50%      556.000000     8.670000            2163 days 00:00:00
75%     1451.000000    11.250000            2822 days 00:00:00
max    23809.000000    21.920000            5337 days 00:00:00

In [12]:
shelter_dogs_df['likes_people'].value_counts()

yes    1991
no        8
Name: likes_people, dtype: int64

In [13]:
shelter_dogs_df['date_found'] = pd.to_datetime(shelter_dogs_df['date_found'])
shelter_dogs_df['adoptable_from'] = pd.to_datetime(shelter_dogs_df['adoptable_from'])
shelter_dogs_df['posted'] = pd.to_datetime(shelter_dogs_df['posted'])

In [14]:
# Grouping together common traits- Dog likes people and dog likes children

In [15]:
shelter_dogs_df.loc[(shelter_dogs_df["likes_people"].isnull()) & (shelter_dogs_df['likes_children'] == 'yes')].head()

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in,posted_delta
1387,567,Kilroy,6.92,male,Rottweiler,2014-02-28,2014-02-28,2014-03-20,black and brown,short,medium,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,2093 days
1389,571,Champ,8.50,male,Unknown Mix,2014-03-11,2014-03-11,2014-03-20,black,wirehaired,medium,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,2093 days
1399,566,Nero,8.17,male,Unknown Mix,2014-02-28,2014-02-28,2014-03-20,saddle back,short,medium,NaN,NaN,NaN,yes,NaN,yes,NaN,NaN,2093 days
1416,560,Dotty,6.25,female,Unknown Mix,2014-02-18,2014-02-18,2014-02-21,black,short,medium,NaN,NaN,NaN,yes,yes,yes,NaN,NaN,2120 days
1420,553,Skippy,6.75,male,Unknown Mix,2014-02-17,2014-02-17,2014-02-21,brown and white,short,medium,NaN,NaN,NaN,yes,yes,yes,NaN,NaN,2120 days

In [18]:
average_age= shelter_dogs_df['age'].mean()
average_age

8.569550561797701

In [20]:
average_days= shelter_dogs_df['posted_delta'].mean()
average_days

Timedelta('1977 days 18:35:25.434116448')

In [26]:
# Age vs time spent in shelter